.reactSwitchCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.reactSwitchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 2rem;
  height: 100%;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  color:var(--background-color);
}

.reactSwitchLabel .reactSwitchButton {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 100%;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
  left: calc(100% );
  transform: translateX(-100%);
}

.reactSwitchLabel:active .reactSwitchButton {
  -width: 2rem;
}

.topGrid{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 0.5rem;

}
