.chartGrid{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    margin: 2rem 2rem 2rem 2rem;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    width: 88%;
    /* padding: 1%; */
    
}
.header{
    /* padding-top: 3%; */
    margin-bottom: 0;
    /* margin: 2rem; */
    height: 14%;
    align-self:flex-start;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.inforP{
    background-color: rgb(215,232,242);
    color:rgb(32,69,84) ;
    border-radius: 12px;
    padding-left: 2rem;
    width: 100%;
    padding-top: 2.4rem;
    /* margin: 2rem; */

    height: 8%;
    position: relative;
    display: inline-block;
    text-align: start;
}
.chartinfor{
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem;
    border: 0;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 5rem 1rem 5rem;
}
.topLegend{
    height: 15%;
    display: flex;
    flex-direction: row;
}
.midChart{
    flex-grow: 4;
}
.botLegend{
    height: 15%;
}
.yearBtn{
    background-color: var(--drak-blue);
    border-radius: 0.6rem;
    width: 50%;
    text-align: center;
    color: white;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    border: 0;
}
.CumBtn{
    background-color:var(--background-color);
    border-radius: 0.6rem;
    width: 50%;
    text-align: center;
    display: inline-block;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    border: 0;
}
.nextBtn{
    /* padding: 0; */
    background-color: rgb(217,171,87);
    width:max-content;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    flex-basis: 50%;
    border-radius: 2rem;
    color: white;
    margin-left: 1rem;
    border: 0;
}

.threeBtn{
    /* padding: 0; */
    color: var(--background-color);
    filter: brightness(80%);
}
.fiveBtn{

}
.tenBtn{

    color: var(--background-color);
    filter: brightness(80%);
}
.yearSelector{
    display: flex;
    align-items: flex-start;
    flex-basis: 25%;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    background-color: var(--background-color);
    border-radius: 1rem;
    width: 100%;
}
.yearSelector button{
    background-color: transparent;
    height: 100%;
    flex-grow: 1;
    border: 0;
    
}
.botLegend{
    align-self: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: fit-content;    
    border: 0.1rem ridge;
    height: fit-content;
    align-self: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.botLegend button{

    text-align: center;
    display: inline-block;
    width: fit-content;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    height: auto;
    flex-grow: 1;
    background-color: transparent;
    border: 0;
}
.switchIcon::after{
    content: " High-cost Claims";
}
svg{
    position:relative;
    top: .125rem;
}